.do2g-container
{
  margin-top: 75px;
}

.flash-container
{
	left: 75vw;
	position: absolute;
	width: auto;
	max-width: 25vw;
	hyphens: auto;
	list-style-type: none;
	z-index: 999;
}

.flash-container-li
{
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 2px;
}

.flash-container-a
{
	color: black;
}

.flash-container-a:hover
{
	text-decoration: none;
}

.do2g-user-panel
{
	background-color: white;
	width: 200px;
	z-index: 2000;
	border: thin solid #333;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
}

.error
{
	background-color: #ff6666;
}

.warning
{
	background-color: #ffe066;
}

.info
{
	background-color: #8cff66;
}

.message
{
	background-color: #8cff66;
}

img.wide
{
    max-width: 220px;
    height: 220px;
}

img.tall
{
    max-height: 220px;
    width: 220px;
}​

img.do2g-img-wide
{
	width: 400px;
	height: 400px;
}

.do2g-form-signin
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.do2g-form-register
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.do2g-col-black
{
	background-color: #333;
}

form input
{
	margin-bottom: 10px;
}

.do2g-inline
{
  display: inline-block;
}

.do2g-genre-frame
{
  border: thin black solid;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 10px;
}

.do2g-edit-link:hover
{
  text-decoration: none;
}

.do2g-edit-link:active
{
  text-decoration: none;
}

.do2g-form-block
{
    margin-top: 15px;
    margin-bottom: 15px;
}

span.badge a
{
	text-decoration: none;
	color: white;
}

.clicked
{
	background-color: green;
}

.sigle.collapsed::before
{
	font-family: 'Glyphicons Halflings';
	content: "\e080";
}

.sigle::before
{
	font-family: 'Glyphicons Halflings';
	content: "\e114";
}
