{% extends "base.html" %}
{% block content %}

<div class="container do2g-container">
	<h1>{{ album.getTitle() }}
		{% if cuser != None %}
		<a href="javascript:void(0)" class="do2g-edit-link" onclick="toggle_display_edit_form('{{ album.getTitle() }}', {{ album.getYear() }}, '{{ album.getParent() }}')">
			&#x270E;
		</a>
		<a href="javascript:void(0)" class="do2g-edit-link" onclick="toggle_add_album_to_playlist_form()">
			&#10133;
		</a>
		{% endif %}
	</h1>
	<h3>
		by <a href="/artist/{{ album.getAuthorId() }}">{{ album.getAuthor().getName() }}</a>
	</h3>
	<div class="row">
		<div class="col-sm-3 col-lg-3 col-md-3">
			<img class="do2g-img-wide"
			src="{% if album.isAbsolutePath() %}{{ album.getImgPath() }}{% else %}{{ (url_for('static', filename=album.getImgPath())) }}{% endif %}"
			alt=""/>
		</div>
		<div class="col-sm-6 col-lg-6 col-md-6">
			<p class="do2g-inline"> Genres:
				{% for g in genres %}
					<div class="do2g-inline do2g-genre-frame">
						{{ g.getName().upper() }}
					</div>
				{% endfor %}
			</p>
			<p> Release year: {{ album.getYear() }} </p>
			<p> Composed by: {{ album.getParent() }}</p>
		</div>
	</div>
	<form id="edit-form" class="hidden" action="/modify/album/{{ album.getId() }}" method="POST" role="form">
		<fieldset>
			<legend>Edit Album Details</legend>
			<div class="col-xs-3">
				<label for="album-title">Album Title</label>
				<input class="form-control" id="album-title" name="title" type="text" />
			</div>
			<div class="col-xs-3">
				<label for="album-year">Release Year</label>
				<input class="form-control" id="album-year" name="year" type="text" />
			</div>
			<div class="col-xs-3">
				<label for="album-compositor">Composed by</label>
				<input class="form-control" id="album-compositor" name="compo" type="text" />
			</div>
			<button class="btn btn-default" type="submit">Save</button>
		</fieldset>
	</form>
	{% if playlists != None %}
	<form id="add-form" class="hidden" action="/add/playlist/{{ album.getId() }}" method="POST" role="form">
		{% for p in playlists %}
		<a class="badge" id="a{{ p.getId() }}" onclick="set_add_from_hidden_field('{{ p.getId() }}')">{{ p.getName() }}</a>
		{% endfor %}
		<input type="hidden" id="pid" name="pid" value="">
		<button class="btn btn-default" type="submit">Validate</button>
	</form>
	{% endif %}
</div>

<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

{% endblock %}
