{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">DO2G L4bel</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Services</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<li>
						<form class="navbar-form" action="/search/" method="POST">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" name="query">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</form>
					</li>
					<li>
						<a href="javascript:void(0)" id="userButton" onclick="showUserPanel();">&#10133;</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<div class="hidden do2g-user-panel" id="userPanel">
	{% if cuser is defined %}
		{% if cuser != None %}
			<a href="/user/" onclick="hideUserPanel();">Your profile</a><br>
			<a href="/user/playlists/" onclick="hideUserPanel();">Your playlists</a><br>
			<a href="/logout/" onclick="hideUserPanel();">Logout</a><br>
		{% else %}
			<a href="/login/" onclick="hideUserPanel();">Login</a><br>
			<a href="/register/" onclick="hideUserPanel();">Register</a><br>
		{% endif %}
	{% endif %}
</div>

{% set i = 0 %}
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul class="container flash-container">
		{% for category, message in messages %}
			<li id="flmsg{{ i }}" class="flash-container-li {{ category }}">{{ message }}  <a class = "flash-container-a" onclick="remove_flash_msg({{ i }})">x</a></li>
			{% set i = i + 1 %}
		 {% endfor %}
	</ul>
	{% endif %}
{% endwith %}

{% endblock %}

{% block content %}
{% endblock %}
