{% extends "base.html" %}
{% block content %}

<div class="container do2g-container">
	{% if artist %}
		<h1>{{ artist.getName() }}</h1>
	<div class="do2g-form-block">
		<a id="add-button" class="btn btn-default" onclick="toggle_display_add_form()">
			Add Album
		</a>
		<form id="add-form" class="hidden" action="/add/album/{{ artist.getId() }}" method="POST" role="form">
			<fieldset>
				<legend>New Album Details</legend>
				<div class="col-xs-3">
					<label for="album-title">Album Title</label>
					<input class="form-control" id="album-title" name="title" type="text" />
				</div>
				<div class="col-xs-3">
					<label for="album-year">Release Year</label>
					<input class="form-control" id="album-year" name="year" type="text" />
				</div>
				<div class="col-xs-3">
					<label for="album-compositor">Composed by</label>
					<input class="form-control" id="album-compositor" name="compo" type="text" />
				</div>
				<div class="col-xs-3">
					<label for="album-img">Picture URL</label>
					<input class="form-control" id="album-img" name="img" type="text" />
				</div>
				<div class="col-xs-3">
					<label for="album-genres">Genres</label>
					<input class="form-control" id="album-genres" name="genres" type="text" />
				</div>
				<button class="btn btn-default" type="submit">Save</button>
			</fieldset>
		</form>
	</div>
	{% endif %}
	<div class="row">
		{% if albums is not defined %}
		{% set albums = artists %}
		{% set art = True %}
		{% else %}
		{% set art = False %}
		{% endif %}
		{% for album in albums %}
			<div class="col-sm-3 col-lg-3 col-md-3">
				<div class="thumbnail">
				{% if not art %}
					<img class="do2g-img" src="{% if album.isAbsolutePath() %}{{ album.getImgPath() }}{% else %}{{ (url_for('static', filename=album.getImgPath())) }}{% endif %}" alt="">
				{% else %}
					<img class="do2g-img" src="{{ (url_for('static', filename='do2g-default.png')) }}" alt = "">
				{% endif %}
					<div class="caption">
						<h4>
						{% if not art %}
							<a href="/album/{{ album.getId() }}" title="{{ album.getTitle() }}">
								{% if album.getTitle()|length < 23 %}
									{{ album.getTitle() }}
								{% else %}
									{{ album.getTitle()[:23] + "..." }}
								{% endif %}
							</a>
						{% else %}
							<a href="/artist/{{ album.getId() }}" title="{{ album.getName() }}">
								{% if album.getName()|length < 23 %}
									{{ album.getName() }}
								{% else %}
									{{ album.getName()[:23] + "..." }}
								{% endif %}
							</a>
						{% endif %}
						</h4>
						{% if not art %}
						<p>
							by
							<a href="/artist/{{ album.getAuthorId() }}" title="{{ album.getAuthor().getName() }}">
								{% if album.getAuthor().getName()|length < 23 %}
									{{ album.getAuthor().getName() }}
								{% else %}
									{{ album.getAuthor().getName()[:23] + "..." }}
								{% endif %}
							</a>
						</p>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

{% endblock %}
