{% extends "base.html" %}
{% block content %}

<div class="container do2g-container">
	<form class="form-signin do2g-form-signin" action='/login/in/' method="POST">
		<h2 class="form-signin-heading">Login</h2>
		<label for="nickname" class="sr-only">Email or Nickname</label>
		<input type="text" id="nickname" name="nickname" class="form-control" placeholder="Nickname" required autofocus>
		<label for="password" class="sr-only">Password</label>
		<input type="password" id="password" name="password" class="form-control" placeholder="⚫⚫⚫⚫⚫⚫⚫⚫" required>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block do2g-col-black" type="submit">Sign in</button>
	</form>
</div>

{% endblock %}
