{% extends "base.html" %}
{% block content %}
<div class="container do2g-container">
	<h1>
		{% if user._id == current_user._id %}
		Your playlists
		{% else %}
		Playlists of {{ user.getNickname() }}
		{% endif %}
	</h1>
	{% if user._id == current_user._id %}
	<div class="do2g-form-block">
		<a id="create-button" class="btn btn-default" onclick="toggle_display_create_form()">
			Create playlist
		</a>
		<form id="create-from" class="hidden" method="POST" action="/add/playlist">
			<div class="col-xs-2">
				<input name="plname" class="form-control" type="text" placeholder="Enter a name"/>
			</div>
			<button class="btn btn-default" type="submit">Save</button>
		</form>
	</div>
	{% endif %}
	<ul class="list-group">
		{% for p in playlists %}
		<li class="list-group-item">
			<span class="badge">
				12 albums
			</span>
			{% if user._id == current_user._id %}
			<a href="/user/playlist/{{ p.getId() }}">{{ p.getName() }}</a>
			{% else %}
			<a href="/user/{{ user._id }}/playlist/{{ p.getId() }}">{{ p.getName() }}</a>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>

<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

{% endblock %}
