{% extends "base.html" %}
{% block content %}
<div class="container do2g-container">
	<h1>
		{% if user._id == current_user._id %}
		Your playlists
		{% else %}
		Playlists of {{ user.getNickname() }}
		{% endif %}
	</h1>
	{% if user._id == current_user._id %}
	<div class="do2g-form-block">
		<a id="create-button" class="btn btn-default" onclick="toggle_display_create_form()">
			Create playlist
		</a>
		<form id="create-from" class="hidden" method="POST" action="/add/playlist">
			<div class="col-xs-2">
				<input name="plname" class="form-control" type="text" placeholder="Enter a name"/>
			</div>
			<button class="btn btn-default" type="submit">Save</button>
		</form>
	</div>
	{% endif %}
	<ul class="list-group">
		{% for p in playlists %}
		<li class="sigle list-group-item collapsed" data-toggle="collapse" data-target="#p{{ p.getId() }}">
			<span class="badge">
				{{ p.getAlbums()|length }} album{% if p.getAlbums()|length > 1%}s{% endif %}
			</span>
			{% if user._id == current_user._id %}
			{{ p.getName() }}
			{% else %}
			{{ p.getName() }}
			{% endif %}
		</li>

		<ul id= "p{{ p.getId() }}" class="list-group collapse">
			{% for a in p.getAlbums() %}
				<li class="list-group-item">
				<a href="/album/{{ a.getAlbum().getId() }}">{{ a.getAlbum().getTitle() }}</a>
				</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</ul>
</div>

<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

{% endblock %}
