{% extends "base.html" %}
{% block content %}

<div class="container do2g-container">
	{% if albs != None and albs|length > 0 %}
		<h1>Albums</h1>
		<div class="row">
			{% for album in albs %}
				<div class="col-sm-3 col-lg-3 col-md-3">
					<div class="thumbnail">
						<img class="do2g-img" src="{% if album.isAbsolutePath() %}{{ album.getImgPath() }}{% else %}{{ (url_for('static', filename=album.getImgPath())) }}{% endif %}" alt="">
						<div class="caption">
							<h4>
								<a href="/album/{{ album.getId() }}" title="{{ album.getTitle() }}">
									{% if album.getTitle()|length <= 23 %}
									{{ album.getTitle() }}
									{% else %}
									{{ album.getTitle()[:23] + "..." }}
									{% endif %}
								</a>
							</h4>
							<p>
								by
								<a href="/artist/{{ album.getAuthorId() }}" title="{{ album.getAuthor().getName() }}">
									{% if album.getAuthor().getName()|length <= 23 %}
									{{ album.getAuthor().getName() }}
									{% else %}
									{{ album.getAuthor().getName()[:23] + "..." }}
									{% endif %}
								</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if arts != None and arts|length > 0 %}
		<h1>Artists</h1>
		<div class="row">
			{% for artist in arts %}
				<div class="col-sm-3 col-lg-3 col-md-3">
					<div class="thumbnail">
						<img class="do2g-img" src="{{ url_for('static', filename='do2g-default.png') }}" alt="">
						<div class="caption">
							<h4>
								<a href="/artist/{{ artist.getId() }}" title="{{ artist.getName() }}">
									{% if artist.getName()|length <= 23 %}
									{{ artist.getName() }}
									{% else %}
									{{ artist.getName()[:23] + "..." }}
									{% endif %}
								</a>
							</h4>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if usrs != None and usrs|length > 0 %}
		<h1>Users</h1>
		<div class="row">
			{% for user in usrs %}
				<div class="col-sm-3 col-lg-3 col-md-3">
					<div class="thumbnail">
						<img class="do2g-img" src="{{ url_for('static', filename='do2g-default.png') }}" alt="">
						<div class="caption">
							<h4>
								<a href="/user/{{ user.getId() }}" title="{{ user.getNickname() }}">
									{% if user.getNickname()|length <= 23 %}
									{{ user.getNickname() }}
									{% else %}
									{{ user.getNickname()[:23] + "..." }}
									{% endif %}
								</a>
							</h4>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if plts != None and plts|length > 0 %}
		<h1>Playlists</h1>
		<div class="row">
			{% for playlist in plts %}
				<div class="col-sm-3 col-lg-3 col-md-3">
					<div class="thumbnail">
						<img class="do2g-img" src="{{ url_for('static', filename='do2g-default.png') }}" alt="">
						<div class="caption">
							<h4>
								<a href="/user/{{ playlist.getUserId() }}/playlist/{{ playlist.getId() }}" title="{{ playlist.getName() }}">{{ playlist.getName() }}</a>
							</h4>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>

<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

{% endblock %}
