{% extends "base.html" %}
{% block content %}

<div class="container do2g-container">
	<form class="form-horizontal do2g-class-here-plz" action='/modify/user/' method="POST">
		Name : <p>{{ cuser._nickname }}</p><br>
		Password : <input name="newpassword" type="text"/> <input type="submit" value="modify"/>
	</form>
</div>

<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

{% endblock %}
